.row.heading-container
  .col-lg-8.col-md-8.col-sm-8.col-xs-6.heading
    %h1
      Books
      %small (react-filterbar example)

%section.content-wrapper
  %div.row.margin-top-lg
    %div.col-lg-12.col-md-12.col-sm-12.col-xs-12.margin-bottom-sm
      %div.react-filterbar
        %div.configuration{ :data => { :'search-url' => '/books/searches' } }
        %div.filters
          %div.filter{ :data => { :label => 'Given Name', :uid => 'given_name', :type => 'text' } }
          %div.filter{ :data => { :label => 'Last Name', :uid => 'last_name', :type => 'text' } }
          %div.filter{ :data => { :label => 'Published Date', :uid => 'published_date', :type => 'date' } }


      .panel.panel-default
        .table-responsive.books-list
      %div.react-filterbar
        %div.configuration{ :data => { :search_url => '/authors/searches' } }
        %div.filters
          %div.filter{ :data => { :label => 'Last Name', :uid => 'last_name', :type => 'text' } }

      .panel.panel-default
        .table-responsive.books-list