{
  "settings": {
    "ecmascript": 6
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "quotes": "single",
    "strict": "true",
    "no-console": true,
    "brace-style": [2, "1tbs"],
    "no-spaced-func": [2, true],
    "camelcase": [2, true],
    "space-in-brackets": [2, "never"],
    "space-infix-ops": [2, true],
    "one-var": [0, true],
    "space-after-keywords": [2, "always"],
    "no-underscore-dangle": [0, true]
  },
  "ecmaFeatures": {
    "classes": true,
    "modules": true,
    "jsx": true
  },
  "globals": {
    "console": true,
    "React": true,
    "EventEmitter": true,
    "$": true
  }
}