.quick-filters-block {
  margin-right: .4em;
}

#quick-filters-tooltip .tooltip-arrow {
  border-top-color: #4c4d4f;
}

.filterbar .panel {
  overflow: visible;
  float: left;
  width: 100%;
}
.table-striped > tbody > tr:nth-child(even) > td {
  background: white;
}

select:required:invalid {
  color: #999999;
}

#header-tooltip > .tooltip-inner {
  min-width: 300px;
}

.header-tooltip-container {
  padding: 10px;
}
