
@font-face {
    font-family: 'Icons';
    src: font-url('icons.eot');
    src: font-url('icons.eot?#iefix') format('embedded-opentype'),
         font-url('icons.woff') format('woff'),
         font-url('icons.ttf') format('truetype'),
         font-url('icons.svg#Icons') format('svg');
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;

}

/*  Icon styles
    ------------------------------------------------------- */
[class^="icon-"],
[class*=" icon-"] {
  font-family: Icons;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;

  /* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}
/* more sprites.less reset */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
/* makes sure icons active on rollover in links */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"],
.nav [class^="icon-"],
.btn [class*=" icon-"],
.nav [class*=" icon-"] {
  display: inline;
  /* keeps button heights with and without icons the same */

}
.btn [class^="icon-"].icon-large,
.nav [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
  line-height: .9em;
}
.btn [class^="icon-"].icon-spin,
.nav [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
  display: inline-block;
}
.nav-tabs [class^="icon-"],
.nav-pills [class^="icon-"],
.nav-tabs [class*=" icon-"],
.nav-pills [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

}
.nav-tabs [class^="icon-"],
.nav-pills [class^="icon-"],
.nav-tabs [class*=" icon-"],
.nav-pills [class*=" icon-"],
.nav-tabs [class^="icon-"].icon-large,
.nav-pills [class^="icon-"].icon-large,
.nav-tabs [class*=" icon-"].icon-large,
.nav-pills [class*=" icon-"].icon-large {
  line-height: .9em;
}
li [class^="icon-"],
.nav li [class^="icon-"],
li [class*=" icon-"],
.nav li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li [class^="icon-"].icon-large,
.nav li [class^="icon-"].icon-large,
li [class*=" icon-"].icon-large,
.nav li [class*=" icon-"].icon-large {
  /* increased font size for icon-large */

  width: 1.5625em;
}
ul.icons {
  list-style-type: none;
  text-indent: -0.75em;
}
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .75em;
}
.icon-muted {
  color: #eeeeee;
}
.icon-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.icon-2x {
  font-size: 2em;
}
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.icon-3x {
  font-size: 3em;
}
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.icon-4x {
  font-size: 4em;
}
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: .3em;
}
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em;
}
.btn [class^="icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class^="icon-"].pull-right.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: .18em;
}
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em;
}
.btn.btn-small [class^="icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class^="icon-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: .25em;
}
.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  margin-top: 0;
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: .05em;
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  margin-right: .2em;
}
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-left: .2em;
}
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
@-moz-document url-prefix() {
  .icon-spin {
    height: .9em;
  }
  .btn .icon-spin {
    height: auto;
  }
  .icon-spin.icon-large {
    height: 1.25em;
  }
  .btn .icon-spin.icon-large {
    height: .75em;
  }
}
/*  Icons uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */

.icon-remove-outline:before {
	content: "\e64e";
}
.icon-remove:before {
	content: "\e64f";
}
.icon-add-outline:before {
	content: "\e600";
}
.icon-add:before {
	content: "\e601";
}
.icon-alert-outline:before {
	content: "\e602";
}
.icon-alert:before {
	content: "\e603";
}
.icon-arrow-down-outline:before {
	content: "\e604";
}
.icon-arrow-down:before {
	content: "\e605";
}
.icon-arrow-left-outline:before {
	content: "\e606";
}
.icon-arrow-left:before {
	content: "\e607";
}
.icon-arrow-right-outline:before {
	content: "\e608";
}
.icon-arrow-right:before {
	content: "\e609";
}
.icon-arrow-up-outline:before {
	content: "\e60a";
}
.icon-arrow-up:before {
	content: "\e60b";
}
.icon-attachment-outline:before {
	content: "\e60c";
}
.icon-attachment:before {
	content: "\e60d";
}
.icon-calendar-outline:before {
	content: "\e60e";
}
.icon-calendar:before {
	content: "\e60f";
}
.icon-chevron-down-outline:before {
	content: "\e610";
}
.icon-chevron-down:before {
	content: "\e611";
}
.icon-chevron-left-outline:before {
	content: "\e612";
}
.icon-chevron-left:before {
	content: "\e613";
}
.icon-chevron-right-outline:before {
	content: "\e614";
}
.icon-chevron-right:before {
	content: "\e615";
}
.icon-chevron-up-outline:before {
	content: "\e616";
}
.icon-chevron-up:before {
	content: "\e617";
}
.icon-close-outline:before {
	content: "\e618";
}
.icon-close:before {
	content: "\e619";
}
.icon-code-outline:before {
	content: "\e61a";
}
.icon-code:before {
	content: "\e61b";
}
.icon-dashboard-outline:before {
	content: "\e61c";
}
.icon-dashboard:before {
	content: "\e61d";
}
.icon-delete-outline:before {
	content: "\e61e";
}
.icon-delete:before {
	content: "\e61f";
}
.icon-document-outline:before {
	content: "\e620";
}
.icon-document:before {
	content: "\e621";
}
.icon-download-outline:before {
	content: "\e622";
}
.icon-download:before {
	content: "\e623";
}
.icon-edit-outline:before {
	content: "\e624";
}
.icon-edit:before {
	content: "\e625";
}
.icon-email-outline:before {
	content: "\e626";
}
.icon-email:before {
	content: "\e627";
}
.icon-employees-outline:before {
	content: "\e628";
}
.icon-employees:before {
	content: "\e629";
}
.icon-folder-outline:before {
	content: "\e62a";
}
.icon-folder:before {
	content: "\e62b";
}
.icon-graph-outline:before {
	content: "\e62e";
}
.icon-graph:before {
	content: "\e62f";
}
.icon-help-outline:before {
	content: "\e62e";
}
.icon-help:before {
	content: "\e62f";
}
.icon-info-outline:before {
	content: "\e630";
}
.icon-info:before {
	content: "\e631";
}
.icon-list-outline:before {
	content: "\e632";
}
.icon-list:before {
	content: "\e633";
}
.icon-lock-outline:before {
	content: "\e634";
}
.icon-lock:before {
	content: "\e635";
}
.icon-menu:before {
	content: "\e638";
}
.icon-placements-outline:before {
	content: "\e637";
}
.icon-placements:before {
	content: "\e638";
}
.icon-profile-outline:before {
	content: "\e63b";
}
.icon-profile:before {
	content: "\e63c";
}
.icon-reminder-outline:before {
	content: "\e63b";
}
.icon-reminder:before {
	content: "\e63c";
}
.icon-save-outline:before {
	content: "\e63d";
}
.icon-save:before {
	content: "\e63e";
}
.icon-search-outline:before {
	content: "\e643";
}
.icon-search:before {
	content: "\e644";
}
.icon-select-arrows-outline:before {
	content: "\e641";
}
.icon-select-arrows:before {
	content: "\e642";
}
.icon-settings-outline:before {
	content: "\e647";
}
.icon-settings:before {
	content: "\e648";
}
.icon-star-outline:before {
	content: "\e645";
}
.icon-star:before {
	content: "\e646";
}
.icon-tick-outline:before {
	content: "\e64d";
}
.icon-tick:before {
	content: "\e64e";
}
.icon-unlock-outline:before {
	content: "\e649";
}
.icon-unlock:before {
	content: "\e64a";
}
.icon-upload-outline:before {
	content: "\e64b";
}
.icon-upload:before {
	content: "\e64c";
}

.icon-switcher-outline:before {
	content: "\e64b";
}
.icon-switcher:before {
	content: "\e64c";
}

.icon-home:before {
	content: "\e64d";
}

.icon-time:before {
	content: "\e650";
}

.icon-time-outline:before {
	content: "\e653";
}
