%div#jobready-filterbar

%section.content-wrapper
  %div.row.margin-top-lg
    %div.col-lg-12.col-md-12.col-sm-12.col-xs-12.margin-bottom-sm
      = react_component('FilterBar', configurations_url: '/example/saved_searches', resource_url: '/example')

:javascript
  window.filterList = [
    {field: "gender",        uid: "gender",         type: "select",     label: "Gender",         selections: [['male', 'Male'], ['female', 'Female']]},
    {field: "given_name",    uid: "given_name",     type: "text",       label: "Given Name"},
    {field: "middle_name",   uid: "middle_name",    type: "text",       label: "Middle Name"},
    {field: "family_name",   uid: "family_name",    type: "text",       label: "Family Name"},
    {field: "email",         uid: "email",          type: "text",       label: "Email"},
    {field: "_id",           uid: "id",             type: "id",         label: "JobReady Id"},
    {field: "date_of_birth", uid: "dob_range",      type: "date",       label: "Date of Birth"},
    {field: "date_of_birth", uid: "dob_age_select", type: "age_select", label: "Age"},
  ];
