!!!

%head
  %link{:href=>"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", :rel=>"stylesheet"}
  %script{:src=>"https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"}
  %script{:src=>"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
  %script{:src=>"/js/react-fluxer.js"}
  %script{:src=>"/js/react-bootstrap.js"}
  %script{:src=>"/js/react-filterbar.js"}

%body
  %section.content-wrapper
    %div.row.margin-top-lg
      %div.col-lg-12.col-md-12.col-sm-12.col-xs-12.margin-bottom-sm
        %div.react-filterable-table
          %dl.filterBarConfiguration
            %dt.persistent{ data: { value: 'true' } }
            %dt.search-url{ data: { value: '/' } }
            %dt.save-search-url{ data: { value: '/saved_searches' } }
            %dt.saved-searches-url{ data: { value: '/saved_searches' } }
            %dt.export-results-url{ data: { value: '/export_results' } }
            %dl.filters
              %dl.author
                %dt.field{ data: { value: "author" } }
                %dt.type{ data: { value: "select" } }
                %dt.label{ data: { value: "Author" } }
                %dt.url{ data: { value: "/authors" } }
                %dt.default{ data: { value: "Author 31" } }
              %dl.title
                %dt.field{ data: { value: "title" } }
                %dt.type{ data: { value: "text" } }
                %dt.label{ data: { value: "Title" } }
              %dl.id
                %dt.field{ data: { value: "id" } }
                %dt.type{ data: { value: "id" } }
                %dt.label{ data: { value: "Book ID" } }
              %dl.published
                %dt.field{ data: { value: "published_on" } }
                %dt.type{ data: { value: "date" } }
                %dt.label{ data: { value: "Published On" } }
              %dl.rating
                %dt.field{ data: { value: "rating" } }
                %dt.type{ data: { value: "range" } }
                %dt.label{ data: { value: "Rating" } }
              %dl.author-by-genre
                %dt.field{ data: { value: "author" } }
                %dt.type{ data: { value: "select" } }
                %dt.label{ data: { value: "Author By Genre" } }
                %dt.url{ data: { value: "/authors_by_genres" } }
                %dt.default{ data: { value: "Author 31" } }
            %dl.quick-filters
              %dl.author
                %dl.mine
                  %dt.label{ data: { value:  'Mine'} }
                  %dt.value{ data: { value:  'Author 1'} }
                  %dt.filter{ data: { value:  'author'} }
                %dl.yours
                  %dt.label{ data: { value:  'Yours'} }
                  %dt.value{ data: { value:  'Author 2'} }
                  %dt.filter{ data: { value:  'author'} }
              %dl.published
                %dl.today
                  %dt.label{ data: { value:  'Today'} }
                  %dt.value{ data: { value:  '2016-11-15'} }
                  %dt.filter{ data: { value:  'published'} }
                %dl.before-today
                  %dt.label{ data: { value:  'Before Today'} }
                  %dt.value-from{ data: { value: '2016-11-14'} }
                  %dt.filter{ data: { value:  'published'} }
                %dl.this-month
                  %dt.label{ data: { value:  'This Month'} }
                  %dt.value-from{ data: { value: '2016-11-01' } }
                  %dt.value-to{ data: { value:  '2016-11-30' } }
                  %dt.filter{ data: { value:  'published'} }


          %dl.tableConfiguration
            %dt.data-url{ data: { value: "/" } }
            %dt.selectable{ data: { value: "id"} }
            %dl.columns
              %dl.author
                %dt.heading{ data: { value: "Author" } }
                %dt.field{ data: { value: "author" } }
              %dl.title
                %dt.heading{ data: { value: "Title" } }
                %dt.field{ data: { value: "title" } }
                %dt.sortable{ data: { value: "title" } }
              %dl.id
                %dt.heading{ data: { value: "Book Id" } }
                %dt.field{ data: { value: "id" } }
              %dl.published_on
                %dt.heading{ data: { value: "Published On" } }
                %dt.field{ data: { value: "published_on" } }
                %dt.sortable{ data: { value: "published_on" } }
              %dl.rating
                %dt.heading{ data: { value: "Rating" } }
                %dt.field{ data: { value: "rating" } }

          %dl.batchActionsConfiguration
            %dt.selectable{ data: { value: "title"} }
            %dl.actions
              %dl.mark_as_favourite
                %dt.label{ data: { value: 'Mark As Favourite' } }
                %dt.url{ data: { value: "/" } }
