!!!

%head
  %link{:href=>"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", :rel=>"stylesheet"}
  %script{:src=>"https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"}
  %script{:src=>"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
  %link{:href=>"/css/style.css", :rel=>"stylesheet"}
  %link{:href=>"/css/select2.css", :rel=>"stylesheet"}
  %link{:href=>"/css/select2-bootstrap.css", :rel=>"stylesheet"}
  %link(href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
  %link(href='http://cdn.jobready.io/bootready-0.0.1.min.css.gz' rel='stylesheet' type='text/css')
  %script{:src=>"/js/select2.min.js"}
  %script{:src=>"/js/jquery.bootstrap-growl.min.js"}
  %script{:src=>"/js/react-fluxer.js"}
  %script{:src=>"/js/react-bootstrap.js"}
  %script{:src=>"/js/moment.js"}
  %script{:src=>"/js/bootstrap-datetimepicker.min.js"}
  %script{:src=>"/js/react-filterbar.js"}

%body.jobready
  %section#container
    %aside
      #sidebar.nav-collapse.jobready-nav-vertical{ style: 'margin-left: 0px;' }
        %ul#nav-accordion.nav-vertical
          %li.search-container
            %a.logo{href: ''}

    %section#main-content
      %section.wrapper
        .row.heading-container
          .col-lg-6.col-md-6.col-sm-5.col-xs-6.heading
            %h1 React Filterbar

        %section.content-wrapper
          %div.row.margin-top-lg
            %div.col-lg-12.col-md-12.col-sm-12.col-xs-12.margin-bottom-sm
              %div.react-filterable-table
                %dl.filterBarConfiguration
                  %dt.persistent{ data: { value: 'true' } }
                  %dt.search-url{ data: { value: '/' } }
                  %dt.saved-searches-url{ data: { value: '/saved_searches' } }
                  %dt.export-results-url{ data: { value: '/export_results' } }
                  %dt.export-all-options{ data: { value: 'true' } }
                  %dl.filters
                    %dl.author_multi_lazy_with_item_url
                      %dt.field{ data: { value: "author" } }
                      %dt.label{ data: { value: "Lazy Author Multi With Label" } }
                      %dt.type{ data: { value: "lazy_multi_select" } }
                      %dt.url{ data: { value: "/authors_with_label" } }
                      %dt.itemUrl{ data: { value: "/author" } }
                      %dt.minimumInputLength{ data: { value: 2 } }
                    %dl.author_multi_lazy
                      %dt.field{ data: { value: "author" } }
                      %dt.label{ data: { value: "Lazy Author Multi" } }
                      %dt.type{ data: { value: "lazy_multi_select" } }
                      %dt.url{ data: { value: "/authors" } }
                      %dt.minimumInputLength{ data: { value: 2 } }
                    %dl.author_multi_test
                      %dt.field{ data: { value: "author" } }
                      %dt.label{ data: { value: "Author Multi" } }
                      %dt.type{ data: { value: "multi_select" } }
                      %dt.url{ data: { value: "/authors" } }
                      %dt.default{ data: { value: "Author 31" } }
                      %dt.operator{ data: { value: "any" }}
                    %dl.author
                      %dt.field{ data: { value: "author" } }
                      %dt.type{ data: { value: "select" } }
                      %dt.label{ data: { value: "Author" } }
                      %dt.url{ data: { value: "/authors" } }
                      %dt.default{ data: { value: "Author 31" } }
                    %dl.author_lazy
                      %dt.field{ data: { value: "author" } }
                      %dt.type{ data: { value: "lazy_select" } }
                      %dt.label{ data: { value: "Lazy Author" } }
                      %dt.url{ data: { value: "/authors" } }
                      %dt.minimumInputLength{ data: { value: 4 } }
                    %dl.title
                      %dt.field{ data: { value: "title" } }
                      %dt.type{ data: { value: "text" } }
                      %dt.label{ data: { value: "Title" } }
                    %dl.id
                      %dt.field{ data: { value: "id" } }
                      %dt.type{ data: { value: "id" } }
                      %dt.label{ data: { value: "Book ID" } }
                    %dl.published_on
                      %dt.field{ data: { value: "published_on" } }
                      %dt.type{ data: { value: "date" } }
                      %dt.label{ data: { value: "Published On" } }
                    %dl.published_on_relative
                      %dt.field{ data: { value: "published_on" } }
                      %dt.type{ data: { value: "date_relative" } }
                      %dt.label{ data: { value: "Published On Relative" } }
                    %dl.published_on_count_in_date_range
                      %dt.field{ data: { value: "published_on" } }
                      %dt.type{ data: { value: "count_in_date_range" } }
                      %dt.label{ data: { value: "Published On Count In Date Range" } }
                    %dl.published_on_with_time
                      %dt.field{ data: { value: "published_on" } }
                      %dt.type{ data: { value: "date_time" } }
                      %dt.label{ data: { value: "Publish Time" } }
                    %dl.rating
                      %dt.field{ data: { value: "rating" } }
                      %dt.type{ data: { value: "range" } }
                      %dt.label{ data: { value: "Rating" } }
                    %dl.author-by-genre
                      %dt.field{ data: { value: "author" } }
                      %dt.type{ data: { value: "select" } }
                      %dt.label{ data: { value: "Author By Genre" } }
                      %dt.url{ data: { value: "/authors_by_genres" } }
                      %dt.default{ data: { value: "Author 31" } }
                  %dl.quick-filters
                    %dl.multi-author-block
                      %dl.multi-author-button
                        %dt.label{ data: { value:  'Mulit Test'} }
                        %dl.filters
                          %dl.author_multi_test
                            %dt.value{ data: { value:  'Author 2,Author 4' } }
                            %dt.filter{ data: { value:  'author_multi_test'} }
                    %dl.author-block
                      %dl.mine-button
                        %dt.label{ data: { value:  'Mine'} }
                        %dt.disabled{ data: { value:  'This button is disabled'} }
                        %dl.filters
                          %dl.author
                            %dt.value{ data: { value:  'Author 1'} }
                            %dt.filter{ data: { value:  'author'} }
                      %dl.yours-button
                        %dt.label{ data: { value:  'Yours'} }
                        %dl.filters
                          %dl.author
                            %dt.value{ data: { value:  'Author 2'} }
                            %dt.filter{ data: { value:  'author'} }
                    %dl.published-block
                      %dl.today-button
                        %dt.label{ data: { value:  'Today'} }
                        %dl.filters
                          %dl.published_on
                            %dt.value{ data: { value:  { from: '2016-11-15', to: '2016-11-15' } } }
                            %dt.filter{ data: { value:  'published_on'} }
                      %dl.this-month-button
                        %dt.label{ data: { value:  'This Month'} }
                        %dl.filters
                          %dl.published_on
                            %dt.value{ data: { value: { from: '2016-11-01', to: '2016-11-30' } } }
                            %dt.filter{ data: { value:  'published_on'} }
                      %dl.last-month-button
                        %dt.label{ data: { value:  'Last Month'} }
                        %dl.filters
                          %dl.published_on
                            %dt.value{ data: { value: { from: '2016-10-01', to: '2016-10-30' } } }
                            %dt.filter{ data: { value:  'published_on'} }

                    %dl.published-author-block
                      %dl.today-me-button
                        %dt.label{ data: { value:  'Today by Me'} }
                        %dl.filters
                          %dl.published_on
                            %dt.value{ data: { value:  { from: '2016-11-15', to: '2016-11-15' } } }
                            %dt.filter{ data: { value:  'published_on'} }
                          %dl.author
                            %dt.value{ data: { value:  'Author 1'} }
                            %dt.filter{ data: { value:  'author'} }
                      %dl.today-you-button
                        %dt.label{ data: { value:  'Today by You'} }
                        %dl.filters
                          %dl.published_on
                            %dt.value{ data: { value:  { from: '2016-11-15', to: '2016-11-15' } } }
                            %dt.filter{ data: { value:  'published_on'} }
                          %dl.author
                            %dt.value{ data: { value:  'Author 2'} }
                            %dt.filter{ data: { value:  'author'} }

                    %dl.rating-block
                      %dl.zero-to-two-button
                        %dt.label{ data: { value:  'Rating 0-2'} }
                        %dl.filters
                          %dl.rating
                            %dt.value{ data: { value:  { from: '0', to: '2' } } }
                            %dt.filter{ data: { value:  'rating'} }
                      %dl.three-to-five-button
                        %dt.label{ data: { value:  '3-4'} }
                        %dl.filters
                          %dl.rating
                            %dt.value{ data: { value:  { from: '3', to: '4' } } }
                            %dt.filter{ data: { value:  'rating'} }
                      %dl.five-and-up-button
                        %dt.label{ data: { value:  '5 and above'} }
                        %dl.filters
                          %dl.rating
                            %dt.value{ data: { value:  { from: '5', to: '' } } }
                            %dt.filter{ data: { value:  'rating'} }

                    %dl.different-filters-block
                      %dl.today-me-button
                        %dt.label{ data: { value:  'Today by Me'} }
                        %dl.filters
                          %dl.published_on
                            %dt.value{ data: { value:  { from: '2016-11-15', to: '2016-11-15' } } }
                            %dt.filter{ data: { value:  'published_on'} }
                          %dl.author
                            %dt.value{ data: { value:  'Author 1'} }
                            %dt.filter{ data: { value:  'author'} }
                      %dl.best-rated-button
                        %dt.label{ data: { value:  'Best Rated by Me'} }
                        %dl.filters
                          %dl.rating
                            %dt.value{ data: { value:  { from: '5', to: '' } } }
                            %dt.filter{ data: { value:  'rating'} }
                          %dl.author
                            %dt.value{ data: { value:  'Author 1'} }
                            %dt.filter{ data: { value:  'author'} }

                %dl.tableConfiguration
                  %dt.data-url{ data: { value: "/" } }
                  %dt.selectable{ data: { value: "id"} }
                  %dt.fix-right-column{ data: { value: "true"} }
                  %dl.columns
                    %dl.author
                      %dt.heading{ data: { value: "Author" } }
                      %dt.field{ data: { value: "author" } }
                      %dt.type{ data: { value: "html" } }
                    %dl.title
                      %dt.heading{ data: { value: "Title" } }
                      %dt.field{ data: { value: "title" } }
                      %dt.sortable{ data: { value: "title" } }
                    %dl.id
                      %dt.heading{ data: { value: "Book Id" } }
                      %dt.field{ data: { value: "id" } }
                    %dl.published_on
                      %dt.heading{ data: { value: "<i>Published On</i>" } }
                      %dt.field{ data: { value: "published_on" } }
                      %dt.sortable{ data: { value: "published_on" } }
                      %dt.headingType{ data: { value: "html" }}
                    %dl.rating
                      %dt.heading{ data: { value: "Rating" } }
                      %dt.field{ data: { value: "rating" } }
                      %dt.headingType{ data: { value: "text" }}

                %dl.batchActionsConfiguration
                  %dt.selectable{ data: { value: "title"} }
                  %dl.actions
                    %dl.mark_as_favourite
                      %dt.label{ data: { value: 'Mark As Favourite' } }
                      %dt.url{ data: { value: "/" } }
